/** Global class **/

body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 16px;
}
.border-line {
    width: 100px;
    border-top-width: 3px;
    border-top-color: rgb(255, 196, 0);
    border-top-style: solid;
    margin: 1.5rem auto;
}
.border-line-black{
    border-top-width: 3px;
    border-top-color: black;
    border-top-style: solid;
    margin: 1.5rem auto; 
}
  .container-border {
      border: 3px solid rgb(255, 196, 0);
      border-left: none;
      border-right: none;
      border-top: none;
      width: 100%;
      margin: 1rem auto;
}
.wrapper{
    background-image: url('../img/bgwall.png');
}
.wrapper-orange{
    background-image: url('../img/bgwall.png');
    background-color: rgb(255, 196, 0);
}
/* Global styles for sub navigation */
.sub-navigation-black{
    color: black;
    padding-top: 5rem;
}
.sub-navigation-black a{
    text-decoration: none;
    color: black;
}
.sub-navigation-black a:hover{
    font-weight: bold;
}
.sub-navigation-black span{
    font-weight: bold;
}
.sub-navigation{
    padding-top: 5rem;
}
.sub-navigation p{
color: white;
}
.sub-navigation a{
    text-decoration: none;
    color: white;
}
.sub-navigation a:hover{
    font-weight: bold;
}
.sub-navigation span{
    font-weight: bold;
}
.sub-navigation h1{
    color: white;
    font-weight: bold;
    font-size: 5rem;
    text-align: left;
}
/** Styles for header */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
}
.container-fluid {
    background: #383838;
}
.bg-light {
    background-color: #383838!important;
}
.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(0,0,0,.1);
}
.navbar-toggler-icon {
    background-color: white;
}
.nav-item {
    padding: 0rem .1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 196, 0);
}
.navbar-light .navbar-nav .nav-link:focus {
    color: white
}
.dropdown-item {
    color: #383838;
    font-weight: 600;
}
.dropdown-item:hover {
    color: rgb(255, 196, 0);
}
.dropdown-item:active {
    background-color: #fafafa;
}
.menu-right {
    justify-content: space-between;
}
.menu-right a {
    margin-right: .8rem;
}
.menu-right-contact {
    border: 2px solid white;
    border-radius: 1rem;
    padding: .2rem 1rem
}
.menu-right-contact a {
    color: white;
    text-decoration: none;
}
.menu-right-contact span {
    color: rgb(13, 170, 13);
}
.menu-right-user button {
    margin-left: .5rem;
    border: none;
    background-color: #383838;
    color: white;
}
.dropdowm-menu{
    display: none;
}
.menu-right-user form{
    float: right;
}
.menu-right-user input{
    position: relative;
    left: 11px;
}
/* Styles for all section menu */

.home-banner {
    padding-top: 2rem;
    background-image: url('../img/bgwall.png');
    background-color: rgb(255, 196, 0);
    z-index: 0;
}
.block {
    background-color: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
    box-shadow: 0px 0px 18px rgba(0,0,0,.1);
    height: 400px;
    width: 100%;
    border-radius: 1rem;
}
.block h1:first-child {
    margin-top: 120px;
    color: #4d2c21;
}
.block h1:last-of-type {
    color: white;
}
.carousel-inner img {
    height: 400px;
}
.carousel-caption h2 {
    text-align: right;
    text-transform: uppercase;
    color: #4d2c21;
    font-weight: bolder;
}
.carousel-caption h4 {
    text-align: right;
    color: white;
    padding: 1rem;
}
.carousel-caption button {
    margin-bottom: 7rem;
    margin-left: 25rem;
    padding: 0 1rem;
    background-color: rgba(241, 6, 6, 0.8);
    border-radius: 1rem;
    color: white;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.carousel-caption button:hover {
    color: black;
}
.menu-main {
  list-style: none;
  padding: 25px 0 5px;
  text-align: center;
  background-image: url('../img/bgwall.png');
  background-color: rgb(255, 196, 0);
}
.menu-main li {
    display: inline-block;
}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {
    content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  font-weight: bolder;
}
.menu-main a, .menu-main a:visited {
    color: white
}
.menu-main a.current, .menu-main a:hover{
    color: red;
}
.menu-main a:before, .menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: red;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}
.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}   
@media (max-width: 550px) {
.menu-main {
    display: none;
}
}
.wrap {
    background-repeat: no-repeat;
    background-image: url('../img/pizza-1-kg_slider.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    margin-top: -1rem;
    filter: grayscale(1);
    transition: .8s;
}
.second-wrap {
    background-repeat: no-repeat;
    background-image: url('../img/burger.jpg');
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    filter: grayscale(1);
    transition: .8s;
}
.third-wrap {
    background-repeat: no-repeat;
    background-image: url('../img/fri.jpg');
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    filter: grayscale(1);
    transition: .8s;
}
.four-wrap {
    background-repeat: no-repeat;
    background-image: url('../img/salad.jpg');
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    filter: grayscale(1);
    transition: .8s;
}
.five-wrap {
    background-repeat: no-repeat;
    background-image: url('../img/desert.jpg');
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    filter: grayscale(1);
    transition: .8s;
}
.six-wrap {
    background-repeat: no-repeat;
    background-image: url('../img/combo-menu.jpg');
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    filter: grayscale(1);
    transition: .8s;
}
.seven-wrap {
    background-repeat: no-repeat;
    background-image: url('../img/drink.jpg');
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    filter: grayscale(1);
    transition: .8s;
}
.wrap:hover, .second-wrap:hover, .third-wrap:hover, .four-wrap:hover, .five-wrap:hover, .six-wrap:hover, .seven-wrap:hover{
    filter: grayscale(0);
}
.text-main {
    padding: 5rem 0;
    font-family: 'JetBrains Mono', monospace;
}
.text-main h4 {
   color: #e4584b;
   text-align: center;
   font-weight: bolder;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
}
.text-main h1 {
    color:rgb(255, 196, 0);
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
 }
 .text-main h5 {
    color: white;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
 }
 .img img {
     width: 80%
 }
.derscription {
    font-size: .8rem;
}
.product-items {
    border: 1px solid rgba(209, 209, 209, 0.247);
    margin: 1rem;
    text-align: center;
    transition: .8s;
    cursor: pointer;
    padding: 1rem 0;
}
.product-items:hover {
    transform: scale(1.1);
    border-color: rgb(255, 196, 0);
}
.title {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
}
.title:hover {
    color: red;
}
.price-big span, .price-small span{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);
    font-size: .7rem;
}
.price-small b, .price-big b {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1); 
    font-size: .8rem; 
}
.buy {
    text-decoration: none;
    border: 1px solid red;
    color: white;
    padding: 0 .1rem;
    background-color: red;
    border-radius: 1rem;
    font-weight: 700;
}
.buy:hover {
    color: black;
}
/*Styles for info-block section*/
.info-block{
    background-image: url('../img/bgwall.png');
    background-color: rgb(255, 196, 0);
    margin-top: 2rem;
    padding: 2rem 0;
}
.info-block-img img {
    width: 30%;
}
.info-block-text h5{
    color: #5a3e26;
    font-weight: bold;
    font-size: 1.2rem;
}
.info-block-text p{
    color: #95601c;
    font-weight: bold;
    font-size: .9rem;
}
/* Delivery-pay page styles */
.delivery-pay{
    background-image: url('../img/bgwall.png');
    font-family: 'JetBrains Mono', monospace;
    padding: 5rem 0;
}
.delivery-info{
    text-align: center;
}
.delivery-info h3{
    font-weight: bold;
}
.delivery-info p{
    color: #999999;
}
.pay h3{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.pay span{
    font-size: 3rem;
}
.pay p{
    font-size: 1.5rem;
}

/* Abous us page styles */
.about-bg{
    background-image: url('../img/aboutUs/пронас2-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.aboutUs{
    font-family: 'Roboto Mono', monospace;
}
.aboutUs h3, h1{
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
}
.aboutUs p{
    text-align: center;
    padding: 1rem 3rem;
    color: #464646;
    font-weight: 500;
}
.aboutUs img{
    width: 100%;
}
#carouselExampleDark{
    margin: 2rem 0;
}
.aboutUs-text{
    font-family: 'Roboto Mono', monospace;  
}
.aboutUs-text h2{
    text-align: center;
    padding: 2rem 6rem;
    font-weight: bold;
}
.aboutUs-text p{
    padding: 0rem 6rem;
    text-align: center;
}
.aboutUs-text img{
    padding-bottom: 2rem;
}
/* Styles for privacy-policy */
.privacy-policy{
    padding: 2rem 0;
}
.privacy-policy p{
    color: rgb(87, 87, 87);
}
.privacy-policy h3{
    font-weight: bold;
    padding: 1rem 0;
}

/* Styles for concats page */
.contact-map{
    border: 2px solid rgb(187, 187, 187);
}
.contact-info, .contact-schedule{
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    padding: 1rem;
}
.contact-info a{
    text-decoration: none;
    color: black;
}
.contact-info a:hover{
    font-weight: bold;
    border: 1px solid green;
    background-color: red;
    border-radius: .5rem;
    padding: .1rem;
}
.contact-form{
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    padding: 1rem;  
}
.contact-form button{
    text-transform: uppercase;
    border-radius: 1rem;
    background-color: red;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
.contact-form button:hover{
    text-transform: uppercase;
    border-radius: 1rem;
    background-color: black;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
.contact-form span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}
.contact-form p, h4{
    font-family: 'Roboto Mono', monospace;
}
.contact-form h4, .contact-info h4, .contact-schedule h4{
    font-weight: bold;
    text-transform: uppercase;
}
.contact-form textarea{
    width: 100%;
}
.contact-form input, textarea{
    border-radius: .8rem;
}

/* Styles for promo page */
.promo-bg{
    background-image: url('../img/share/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: fixed;
}
.promo{
    font-family: 'Roboto Mono', monospace;
}
.promo-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #f5f1f0;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    margin: 2rem;
    transition: .8s;
    cursor: pointer;
}
.promo-item:hover{
    background-color: rgb(87, 87, 87);
    color: white;
    transition: .8s;
}
.promo-image{
    width: 47%;
    border-radius: 1rem;
}
.promo-image img{
    width: 100%;
}
.promo-text{
    width: 47%;
    border-radius: 1rem;
}
.promo-text button{
    text-transform: uppercase;
    border-radius: 1rem;
    background-color: red;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
}
.promo-text button:hover{
    text-transform: uppercase;
    border-radius: 1rem;
    background-color: black;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
}
.promo-text h4{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #e4584b;
}
.promo-text span{
    font-weight: bold;
}
@media screen and (max-width: 1399px){
    .promo-text{
        width: 100%;
    }
    .promo-image{
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
}
/* Styles for certificate page */
.certificate-text h3, h5{
    text-align: center;
}
.certificate-image {
    position: relative;
    width: 100%;
} 
.certificate-image img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e2e2e28e;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    font-family: 'Roboto Mono', monospace;
}
.certificate-image:hover .overlay {
    height: 100%;
}
.text-overlay {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* Styles for pizza page */
.pizza-page-bg{
    background-image: url('../img/pizza-page/back-pizza-title.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    transition: .8s;
}
.pizza-page-bg:hover{
    filter: grayscale(0);
    transition: .8s;
}
/*Styles for card*/

/* Styles for footer */
.button-bootstrap {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    background-color: rgb(221, 221, 221);
    z-index: 9999;
}
.button-bootstrap a{
    color: #6c757d;
}
.button-bootstrap a:hover{
    color: rgb(255, 196, 0);
}
.button-bootstrap button {
    border: none;
    font-size: 2rem;
    padding: 0rem auto;
}
.button-bootstrap button:hover {
    background: none;
    color: rgb(255, 196, 0);
}

@media (min-width: 1200px){
    .button-bootstrap {
        display: none;
    }
}
@media (max-width: 1200px){
    .menu-right-user form{
        display: none;
    }
}
footer {
    background-color: #383838;
    margin-bottom: -2rem;
}
.footer-menu a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-menu a:hover{
    color: rgb(255, 196, 0);
    font-weight: bolder;
}
.menu-text h4 {
    font-weight: bolder;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-text p{
    text-align: left;
    padding-left: 2.4rem;
}
.img-footer img {
    width: 70%;
}
.img-footer a{
    font-size: 1.5rem;
    color: white;
}
.menu-text span {
    font-size: .7rem;
    color: white;
}
.menu-text i{
    color: rgb(255, 196, 0);
}
.input-group input{
    border-radius: 1rem 0 0 1rem;
}
.input-group button {
    color: rgb(255, 196, 0);
    font-weight: bolder;
    border-radius: 0 1rem 1rem 0;
}
.footer-card {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding-left: 2rem;
}
.footer-card span{
    color: rgb(255, 196, 0);
    font-style: italic;
}
.bot-text {
    margin-bottom: 2rem;
}
.bot-text p{
    padding: 1rem;
    color: #aeaeae;
    text-align: right;
    font-size: .8rem;
}

/* button top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}